<style>
  #bank{
    background-color: #74b6dc;
    margin: 10px;
    padding: 5px;
  }
  .slot{
    background-color: #74b6dc;
    width: 250px;
    height: 350px;
    margin: 20px;
    padding: 10px;
    padding-right: 10px;
    box-shadow: 0 0 8px 0 #666;
  }
  #emptySlot{
    position: relative;
    background-color: #74b6dc;
    border-style: dashed;
    border-width: 5px;
    border-color: #666;
    border-radius: 10px;

    height: 95%;
    width: 95%;
    text-align: center;
    opacity: .5;
    z-index: 1;
  }
  .slot a{
    display: block;
    position: absolute;

    text-align: center;
    text-decoration: none;
    z-index: 2;
  }
  #bank ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .name{
    margin: 5px;
    padding: 5px;
    border: solid;
    border-width: 5px;
    width: 100%;
  }
  .button.options{
    font-family: fontAwesome;
  }

</style>

<body>
  <section id ="characterBank">
    <div class ="container">
      <div id ="bank">
        <h1>Character Bank</h1>
        <ul id= "bankUl">
          <li id ="addChar">
            <div class ="slot">
              <div id="emptySlot">
                <a href ="/create"><br><br><br><br>Click Here to Create a New Character <br><h1>&#x2795;</h1><br><br><br><br><br><br><br><br><br></a>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </section>
</body>
<% if (charList !== null) { %>
  <script>
    var charList = <%- charList %>;
    console.log('charList = ', charList);

    for (i = 0; i < charList.length; i++) {
      var addCharLi = document.getElementById("addChar");
      var li = document.createElement('li');
      var slotDiv = document.createElement('div');
      var nameDiv = document.createElement('div');
      var playBttn = document.createElement('button');
      var editBttn = document.createElement('button');
      var optionsBttn = document.createElement('button');

      bankUl.insertBefore(li, addCharLi);
      //document.getElementById("bankUl").appendChild(li);

      slotDiv.className = 'slot';

      optionsBttn.className = 'button options'
      optionsBttn.innerHTML = '&#xf013'
      slotDiv.appendChild(optionsBttn);

      nameDiv.className = 'name';
      nameDiv.innerHTML = "<h1> Name: </h1><br>" + charList[i].firstName + ' ' + charList[i].lastName;
      slotDiv.appendChild(nameDiv);

      playBttn.className = 'button';
      playBttn.innerHTML = 'Play!'
      slotDiv.appendChild(playBttn);

      editBttn.className = 'button'
      editBttn.innerHTML = 'Edit'
      slotDiv.appendChild(editBttn);




      li.appendChild(slotDiv);

    }
  </script>
<% } else { %>
  <script>
    console.log('No current characters');
  </script>
<% } %>
