<body>
  <section class="registrationBox hide">
    <div class="container">
      <div class="popUpContainer">
        <div class="close">
          <button onClick="hideFunction()"><span>&#x1F5D9;</span></button>
        </div>
        <header class="reg1">
        <h1>Create an Account</h1>
        <p>Join the fun!</p>
        </header>
        <header class="login">
        <h1>Log In</h1>
        <p>Been here before? Log in below.</p>
        </header>
        <div class="registrationContainer">

          <form action="/api/user/register" method="POST">
            <ul>
              <li><input type="email" id="email" name="email" placeholder="Enter Email..." required></li>
              <li><input type="password" id="password" name="password" placeholder="Enter Password..." required></li>

            </ul>
            <button type="submit" class="button">Sign Up!</button>
          </form>
        </div>

        <div class="loginContainer">

          <form action="/api/user/login" method="POST">
            <ul>
              <li><input type="email" id="email" name="email" placeholder="Enter Email..." required></li>
              <li><input type="password" id="password" name="password" placeholder="Enter Password..." required></li>
            </ul>
            <button type="submit" class="button">Login</button>
          </form>
        </div>
      </div>
  </div>
  </section>

  <section id ="home">
    <div class="container">
      <center>
        <h1>TastyTails</h1>
        <h2>~Under Construction~</h2>
        <a href="/create">Click Here to play Alpha</a><br>
        <img src="assets/images/Tasty_Tails_under_construction.png" alt="Under Construction">
      </center>
  </div>
  </section>
</body>
