<body>
  <section class="container">
    <h1>Congratulations! You've successfully created your account~</h1>
    <p>Now just click the blue "Login" button in the top right corner and have some fun!</p>
  </section>

</body>
