<!-- Overlay: Intent (Sigils) -->
<div id="intentContainer">
    <input type="radio" name="intent" id="friendly" value="friendly" checked>
    <label for="friendly" title="Friendly"><i class="fa-regular fa-face-smile"></i></label>

    <input type="radio" name="intent" id="grabbing" value="grabbing">
    <label for="grabbing" title="Grabbing"><i class="fa-solid fa-hand-fist"></i></label>

    <input type="radio" name="intent" id="hostile" value="hostile">
    <label for="hostile" title="Hostile"><i class="fa-solid fa-crosshairs"></i></label>
</div>

<!-- Overlay: Items -->
<div id="itemBar">
    <ul>
        <li>
            <div class="item" id="item1" draggable="true"></div>
        </li>
        <li>
            <div class="item" id="item2" draggable="true"></div>
        </li>
        <li>
            <div class="item" id="item3" draggable="true"></div>
        </li>
        <li>
            <div class="item" id="item4" draggable="true"></div>
        </li>
        <li>
            <div class="item" id="item5" draggable="true"></div>
        </li>
    </ul>
</div>