/* Global */
body {
  background-color: var(--bg-body);
  padding: 0;
  margin: 0;
}

footer {
  /* background-color: pink; */
}

.container {
  width: 90%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button {
  border-radius: 4px;
  background-color: var(--btn-bg);
  border: none;
  color: var(--text-white);
  text-align: center;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 5px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#smoke {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: .5;
  z-index: 1000;
}

/* Registration styles moved to master.css */

/* Header */
header {
  background-color: var(--bg-header);
  color: var(--text-white);
  padding-top: 30px;
  min-height: 70px;
}

header .headerLogo {
  float: left;
}

header .headerLogo h1 {
  margin: 0;
}

/* Nav */
nav {
  border-bottom: var(--border-dark-blue) 1px solid;
}

nav a {
  color: var(--text-white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  margin: auto;
}

nav li {
  float: left;
  display: inline;
  padding: 15px 20px 0 20px;
}

nav .loginBox {
  float: right;
  display: inline;
  color: var(--text-white);
  font-size: 16px;
  padding: 0 20px 0 20px;
}

nav a:hover {
  color: var(--text-nav-hover);
  font-weight: bold;
}

#home a {
  border-style: solid;
  border-color: pink;
  border-width: 5px;
  border-radius: 10px;
  font-size: 50px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

img {
  width: 30%;
  height: 30%;
}

#home {
  position: static;
}

.loggedIn {
  display: none;
}