<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="A place where you can eat and be eaten by your friends!">
    <meta name="keywords" content="vore, game, vore game, unbirth, anal vore, tail vore, transformation, TF, tasty, tails, tastytails, tasty tails, furry, yiff, role-playing, role-play, role play, RP, lewd, OwO,">
    <meta name="author" content="Kimberly Tilson">
    <title>TastyTails | Home</title>
    <link rel="stylesheet" href="./../css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
  </head>
  <style>
  body {
    background-color: #0b4b90;
    padding: 0;
    margin: 0;
  }
  </style>

  <body>
    <header>
      <div class="container">
        <div class="headerLogo">
          <h1> TastyTails</h1>
        </div>
      </div>
    </header>
    <% if (loginForm == 1) { %> <div id="smoke">

    </div> <% } %>
    <nav>
      <div class="container">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <% if (token !== null) { %>
            <li>
              <a href="/character-bank">Character Bank</a>
            </li>
          <% } %>

        </ul>
        <div class="loginBox">
          <% if (token !== null) { %>
            <form action="/api/user/logout" method="POST">
              <button type="submit" class="button">Logout</button>
            </form>
          <% } else { %>
            <form action="/api/user/loginForm" method="POST">
              <button type="submit" onClick="hideFunction()" class="button" >Login</button>
            </form>
          <% } %>
          <div class="loggedIn">
            <p>You're Logged In!</p>
          </div>
        </div>
      </div>
    </nav>

    <%- body %>

    <footer>
      <div class="container">
        <p>TastyTails~</p>
      </div>
    </footer>
    <script>
      function hideFunction() {
        var element = document.getElementsByClassName("registrationBox");
        element[0].classList.toggle("hide");
        element = document.getElementById("smoke");
        element.classList.toggle("hide");
      }
    </script>
  </body>
</html>
